.contain-contato{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
}

.portfolio{
    width: 32.125rem;
}

.portfolio h2{
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: var(--weight-semibold);
}

.portfolio a{
    display: inline-block;
    margin-top: 3rem;
}

.separador-blue{
    margin-top: 8px;
    width: 12.5rem;
    height: 4px;
    border-radius: 5px;
    background: var(--cl-blue-gradient);
}

.portfolio p{
    width: 25.75rem;
    margin-top: 2rem;
    font-family: var(--font-text);
    font-size: 1.25rem;
}

.port-bloco{
    display: flex;
    align-items: center;
    position: relative;
}

.port-bloco i{
    position: relative;
    top: 15px;
}

.uis{
    font-size: 2rem;
    color: var(--cl-s-02);
}

.port-bloco p{
    font-size: 1rem;
    font-weight: var(--weight-regular);
    width: 22.31rem;
    margin-left: 0.5rem;
}

.separador{
    margin-top: 15px;
    margin-bottom: -15px;
    width: 23rem;
    height: 4px;
    border-radius: 5px;
    background: var(--cl-p-06);
}


.endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco iframe{
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.verde{
    background: var(--cl-green-gradient);
    margin-top: 3.75rem;
    color: var(--cl-p-08);
    padding: 1.5rem 3.75rem;
}

.endereco p{
    margin-top: 2.75rem;
    text-align: center;
}

@media(max-width: 991px){

    .endereco iframe{
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 768px){
    .contain-contato{
        flex-wrap: wrap;
    }
}

@media (max-width: 450px){
    .Sobre{
        padding: 2rem 4rem;
    }

    .separador{
        height: 2px;
    }

    .port-bloco p{
        font-size: 1.2rem;
    }
}