.footer{
    background: var(--cl-p-08);
    margin-top: 2.5rem;
    width: 100vw;
}

.footer .box-container{
    display: flex;
    justify-content: space-around;
}

.footer .box-container .box .img-footer{
    margin-top: -5rem;
    width: 15rem;
}

.box-container .center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container .center a{
    margin-bottom: -3rem;
}

.box-container .center i{
    color: var(--cl-s-02);
    font-size: 1rem;
}

.footer .box-container .menu-footer{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--cl-p-02);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer .box-container .menu-footer a{
    color: var(--cl-p-04);
    font-family: var(--font-title);
    font-size: 1.25rem;
    text-decoration: underline;
}

.footer .box-container .box{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 0.5rem;
}

.footer .box-container .box h3{
    color: var(--cl-p-04);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.footer .box-container .box h3:before{
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: var(--cl-p-04);
}


.footer .box-container .box a{
    color: var(--cl-p-04);
    font-family: var(--font-text);
    font-size: 1.25rem;
}

.separador-footer{
    position: relative;
    left: 20%;
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background: var(--cl-p-05);
    margin-top: 2.5rem;
}

.referencia{
    font-family: var(--font-title);
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.referencia a{
    font-size: 1rem;
    color: var(--cl-p-01);
}