
.footer{
background: var(--cl-p-08);
padding: 3rem 7%;
}

.footer .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
gap: 2rem;
padding-left: 1rem;
}

.footer .box-container img{
    margin-left: -4rem;
    width: 100%;
}

.footer .box-container .box h3{
font-size: 2rem;
color: var(--cl-p-01);
font-family: var(--font-title);
font-weight: 700;
padding: 1rem 0;
}

.footer .box-container .box p{
font-size: 1.5rem;
line-height: 1.8;
color: var(--cl-p-01);
padding: 1rem 0;
}

.footer .box-container .box .links{
display: block;
font-family: var(--font-text);
font-size: 1.2rem;
color: var(--cl-p-01);
padding: 1rem 0;
}

.footer .box-container .box .links i{
color: var(--cl-s-02);
padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
padding-right: 2rem;
}

.footer .box-container .box .days{
margin-left: 2.2rem;
line-height: .2;
}

.footer .box-container .box .email{
width: 100%;
margin: .7rem 0;
padding: 1rem;
border-radius: .5rem;
background: var(--white);
font-size: 1.6rem;
color: var(--black);
text-transform: none;
}

.separador-footer{
    position: relative;
    left: 20%;
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background: var(--cl-p-05);
    margin-top: 2.5rem;
}

.referencia{
    margin-top: -5rem;
    background: var(--cl-p-08);
    font-family: var(--font-title);
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.referencia a{
    font-size: 1rem;
    color: var(--cl-p-01);
}