.Home{
    display: flex;
    justify-content: center;
    
    flex-wrap: nowrap;
    width: 100vw;
    height: 100%;
    gap: 10rem;
}

.Introducao{
    display: flex;
    flex-direction: column;
    width: 558px;
}

.title{
    font-family: var(--font-title);
    font-weight: var(--weight-bold);
    font-size: 3rem;
}

.Introducao p:nth-child(2){
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: var(--cl-p-05);
}

.Introducao p{
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: var(--cl-p-03);
}

.Introducao-home a{
    display: inline-block;
    margin-top: 2.5rem;
}

.image-home{
    width: 350px;
}

.image-home img{
    width: 100%;
    height: 520px;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

@media(max-width: 991px){
    .Introducao{
        width: 500px;
    }

    .Home{
        margin-top: -5rem;
        margin-bottom: -10rem;
        gap: 5rem;
    } 

    .image-home{
        width: 300px;
    }
}

@media (max-width: 768px){
    .Home{
        flex-wrap: wrap;
        gap: 5rem;
    } 

    .image-home{
        width: 300px;
    }
   
}

@media (max-width: 450px){
    .Home{
        padding: 15rem 4rem;
        margin-bottom: 2rem;
        gap: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .Introducao{
        width: 40rem;
        flex-wrap: wrap;
    }

    .image-home{
        width: 250px;
    }
}