.Parceiros{
    width: 100vw;
}

.container-parceiros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: -5rem;
}

.container-parceiros .parceiros{
    width: 18.75rem;
    height: 10rem;
    background: #F0F0F0;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.container-parceiros .color-black{
    background: var(--cl-p-03);
}

.container-parceiros .parceiros img{
    width: 18.75rem;
    height: 10rem;
}