.Produtos{
    margin-top: 4rem;
    margin-bottom: -2rem;
    padding: 0;
}

.slider{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: auto;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    margin-top: 4rem;
    height: auto;
    position: relative;
}

.b-flex{
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.descri-produto{
    width: 25rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.descri-produto h2{
    font-family: var(--font-title);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--cl-p-03);
}

.descri-produto .subtitulo-prod{
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: var(--cl-s-02);
}

.descricao-prod{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: #463e3e;
}

.descri-produto .btn-prod{
    font-family: var(--font-text);
    font-weight: var(--weight-extrabold);
    text-transform: uppercase;
    padding: 1rem 3rem;
    color: var(--cl-p-08);
    background: var(--cl-blue-gradient);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-top: -5rem;
}

.slide img{
    width: 18rem;
}

.rotate{
    width: 15rem;
    rotate: -90deg;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

.prev,
.next{
    width: 10%;
    height: 20%;
    position: absolute;
    top: 35%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev{
    left: 13rem;
    width: 25px;
    height: 25px;
}

.next{
    right: 13rem;
    width: 25px;
    height: 25px;
}

@media(max-width: 991px){
    .b-flex{
        display: flex;
        justify-content: center;
        padding: none;
        overflow: hidden;
    }
    
    .slide img{
        width: 10rem;
    }  

    .descri-produto{
        width: 20rem;
    }
}

@media (max-width: 450px){
    .descri-produto{
        font-size: 90%;
    }

    .prev{
        left: 1rem;
        width: 15px;
    }
    
    .next{
        right: 1rem;
        width: 15px;
    }
}